body {
  font-size: 0;
}

body > * {
  font-size: 1rem;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

textarea {
  border: 1px solid black;
  resize: none;
}

#main-wrapper {
  min-height: 100vh;
  position: relative;
  padding: 0 0 100px 0;
}

#header-text {
  font-family: 'Helvetica Neue', sans-serif;
}

#application-text, #output{
  width: 100%;
  height: 300px;
}

#analyze-application-text {
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer {
  background-color: rgba(50, 50, 50, 1);
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

#footer, #blue {
  color: #fff;
}

#blue {
  background-color: #4285F4;
  margin-bottom: 30px;
}